@using Microsoft.AspNetCore.Identity 
@inject SignInManager<User> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CFF_CRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- google font https://fonts.google.com/?preview.text=&preview.text_type=custom -->
    <style>
        .brand-logo {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper deep-purple darken-1">
                <a href="#" class="brand-logo">CFF CRM</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="SupplyRequests" asp-action="Index">Supply Requests</a></li>
                    <li><a asp-controller="Tasks" asp-action="Index">Tasks Management</a></li>
                    <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        // signed-in user - Log Out button and username 
                        <li> 
                            <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                                <input type="submit" value="Log Out" class="btn btn-outline-light" />
                                <span class="text-light">@User.Identity.Name</span> 
                            </form> 
                         </li> 
                    }
                    else
                    {
                        // get current action 
                        var action = ViewContext.RouteData.Values["action"]?.ToString();
                        // anonymous user - Register link and Log In button 
                        <li> 
                            <a asp-action="Register" asp-controller="Account" asp-area="" class="nav-link">Register</a>
                        </li>
                        <li>
                            <a asp-action="Login" asp-controller="Account" asp-area="" class="btn btn-outline-light">Log In</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CFF_CRM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        M.AutoInit();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
